POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=ocp_transport
POSTGRES_USER=ocp_admin
POSTGRES_PASSWORD=your_postgres_password

SNOWFLAKE_ACCOUNT=your_snowflake_account
SNOWFLAKE_USER=your_snowflake_user
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_WAREHOUSE=OCP_TRANSPORTS_WH
SNOWFLAKE_DATABASE=OCP_TRANSPORTS
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_ROLE=SYSADMIN

AIRFLOW_UID=50000
AIRFLOW_API_SECRET_KEY=your_airflow_api_secret_key
AIRFLOW_JWT_SECRET=your_airflow_jwt_secret
